<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_NguoiDung.Properties.Settings.db_thoitrangtreemConnectionString"
            connectionString="Data Source=LAPTOP-HPDFB2R3\SQLEXPRESS;Initial Catalog=db_thoitrangtreem;User ID=sa1;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>