<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qlshopthoitrangtreem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="qlshopthoitrangtreem.Properties.Settings.db_thoitrangtreemConnectionString"
            connectionString="Data Source=LAPTOP-HPDFB2R3\SQLEXPRESS;Initial Catalog=db_thoitrangtreem;User ID=sa1;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <qlshopthoitrangtreem.Properties.Settings>
            <setting name="cnn" serializeAs="String">
                <value>Data Source=LAPTOP-HPDFB2R3\SQLEXPRESS;Initial Catalog=db_thoitrangtreem;User ID=sa1;Password=123</value>
            </setting>
        </qlshopthoitrangtreem.Properties.Settings>
    </userSettings>
</configuration>